<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 가입</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
		<h2>회원 가입</h2>
		<form th:action="@{/members/signup}" method="post"
				class="joinForm">
				<fieldset>
					<ul>
						<li>
							<label for="email">이메일</label>
							<input type="text" name="email" required>
						</li>
						<li>
							<label for="passwd">비밀번호</label>
							<input type="password" name="passwd">
						</li>
						<li>
							<label for="name">이름</label>
							<input type="text" name="name">
						</li>
						<li>
							<input type="submit" value="가입">
							<input type="reset" value="취소">
						</li>

					</ul>
				</fieldset>
		</form>
</body>
</html>