<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 가입</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
		<h2>회원 가입</h2>
		<form th:action="@{/members/signup}" method="post"
				class="joinForm">
				<div th:if="${#fields.hasAnyErrors()}">
					<div th:each="err : ${#fields.allError()}"
					th:text="${err}">
					</div>
				</div>
				<fieldset>
					<ul>
						<li>
							<label for="email">이메일</label>
							<input type="text" name="email" th:value="${email}">
						</li>
						<li>
							<label for="password">비밀번호</label>
							<input type="password" name="password" th:value="${password}">
						</li>
						<li>
							<label for="name">이름</label>
							<input type="text" name="name" th:value="${name}">
						</li>
						<li>
							<input type="submit" value="가입">
							<input type="reset" value="취소">
						</li>

					</ul>
				</fieldset>
		</form>
</body>
</html>